<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
  <div class="col-8 offset-2">
    <h3>Edit listings</h3>
    <form
      method="POST"
      action="/listings/<%= listing._id %>?_method=PUT"
      novalidate
      class="needs-validation"
    >
      <div class="mb-3">
        <label for="title" class="form-label">Edit title</label>
        <input
          value="<%= listing.title %>"
          name="listing[title]"
          type="text"
          class="form-control"
          required
        />
        <div class="invalid-feedback">please enter valid title</div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">edit description</label>
        <textarea name="listing[description]" class="form-control" required>
          <%= listing.description %></textarea
        >
        <div class="invalid-feedback">please enter valid description</div>
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Change Image</label>
        <input
          value="<%= listing.image %>"
          name="listing[image]"
          class="form-control"
        />
      </div>
      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Change Price</label>
          <input
            value="<%= listing.price %>"
            name="listing[price]"
            type="number"
            class="form-control"
            required
          />
          <div class="invalid-feedback">please enter valid Price</div>
        </div>

        <div class="mb-3 col-md-8">
          <label for="location" class="form-label">Edit title</label>
          <input
            value="<%=listing.location %>"
            name="listing[location]"
            type="text"
            class="form-control"
            required
          />
          <div class="invalid-feedback">please enter valid location</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="country" class="form-label">Edit country name</label>
        <input
          value="<%= listing.country %>"
          name="listing[country]"
          type="text"
          class="form-control"
          required
        />
        <div class="invalid-feedback">please enter valid country name</div>
      </div>
      <button class="btn btn-dark edit-btn mt-3">edit</button>
    </form>
  </div>
</div>
